/* 主导航菜单 */
.el-menu-nav {
  border-right: 0;
  background: #001529;
  color: #fff;
}
.el-menu-nav .el-menu-item,
.el-menu-nav .el-submenu .el-submenu__title,
.el-menu-nav .el-submenu > .el-menu,
.el-menu-nav .el-submenu .el-menu-item {
  background-color: #001529;
  text-align: center;
  color: #999;
  min-width: auto;
}
.el-menu-nav .el-menu-item a {
  text-decoration: none;
}
.el-menu-nav .el-menu-item:hover,
.el-menu-nav .el-submenu.is-active .el-submenu__title,
.el-menu-nav .el-submenu .el-submenu__title:hover {
  background-color: #5eacf5 !important;
  color: #fff !important;
}

.el-menu-nav .el-menu-item:focus {
  background-color: #1890ff !important;
  color: #fff !important;
}

.el-menu-nav .el-submenu.is-active .el-submenu__title i.el-submenu__icon-arrow,
.el-menu-nav .el-submenu .el-submenu__title:hover i.el-submenu__icon-arrow {
  color: #fff;
}
.el-menu-nav .el-menu-item.is-active {
  background-color: #1890ff;
  color: #fff;
}
.el-menu-nav .el-menu-item i {
  color: inherit;
}

/* 二级导航 */
.sub-menu-nav {
  background: #fff;
  color: #333;
}
.sub-menu-nav .el-menu-item {
  height: 30px;
  line-height: 26px;
  font-size: 12px;
}

/* alert */
.el-alert--warning {
  border: 1px solid #eb9e05;
}

/* 查看大图 */
.el-message-preview-box {
  width: auto;
  background: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  margin-top: 60px;
  /* transform: scale(1); */
  animation: preview-animation 0.5s ease-in-out;
}

.el-message-preview-box .el-icon-close {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
}

@keyframes preview-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* 修复 date-picker 在 size="mini" 输入框过长的问题 */
.el-input--mini.el-date-editor {
  width: 150px;
}

/* table */
.el-table{
  font-size: 12px;
}
.el-table__body tr.active > td {
  background-color: #ecf5ff;
}

/* dialog 垂直居中 */
.el-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto !important;
  transform: translate(-50%, -50%);
}
/*重写el_tag*/

.el-tag {
  /* border: 1px solid transparent; */
  /* background: transparent; */
}
.el-tree{
  background-color: #2C333E;
  color: #a9acb3;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #2d9c96;
    border-color: #2d9c96;
}
.el-checkbox__inner:hover{
  border-color: #2d9c96;
}
.el-tree-node > .el-tree-node__children {
  overflow: inherit;
}
.el-tree-node__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 26px;
  cursor: pointer;
  font-size: 12px;
}
/*重写el_tree 高亮效果*/
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background: #1890ff;
  color: #fff;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #1890ff;
}
/*重写el_table 表头效果*/
.el-table thead {
  color: #333;
  font-weight: 500;
}
.el-table thead tr,
.el-table th {
  background: #fafafa;
}
/*el-dialog__title 标题效果*/
.el-dialog__title {
  line-height: 24px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
.hy-card .hy-card__header .title {
  display: inline-block;
  color: #333;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
}
.form-wrap h2 {
  margin-bottom: 20px;
  padding: 10px 10px;
  font-size: 14px !important;
  margin-top: -10px;
  border-bottom: 1px solid #f0f2f5;
}
.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 12px;
  color: #333;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.el-dialog__body {
  max-height: 500px;
  overflow: auto;
}
.el-form--inline .el-form-item {
  margin-bottom: 0;
}
.el-radio__label {
  font-size: 12px;
  padding-left: 5px;
}
.el-tree-node__label {
  font-size: 12px;
}
.el-checkbox__label {
  padding-left: 5px;
  font-size: 12px;
}
.el-step.is-simple .el-step__title {
  font-size: 12px;
  line-height: 20px;
}
.el-step__icon.is-text {
  border: 1px solid;
}
.el-step__head.is-process {
  color: #2d2f33;
}
.el-step__title.is-process {
  color: #2d2f33;
}
.el-button + .el-button {
  margin-left: 0px;
}
.el-date-editor .el-range-input {
  width: 70px;
}
.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
  width: 228px;
}
.el-button [class*=" el-icon-"],
[class^="el-icon-"] {
  font-size: 12px;
}
.el-message {
  min-width: 250px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: Alpha(opacity=50);
}
.el-message--success,
.el-message--error,
.el-message--info {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: transparent;
  color: #fff;
}
.el-message .el-icon-success,
.el-message .el-icon-error,
.el-message .el-icon-info {
  color: #fff;
}
.el-message--success .el-message__content,
.el-message--error .el-message__content,
.el-message--info .el-message__content {
  color: #fff;
  font-size: 12px;
}

.el-input-group > .el-input__inner {
  vertical-align: baseline;
  display: inherit;
}

.el-loading-mask {
  z-index: 2000 !important;
}

/*el-select*/
.el-input__inner {
  border-radius: 0 !important;
  background-color: transparent !important;
  opacity: 0.6;
  /* padding-left: 20px; */
  color: #fff;
}

.el-input__inner:hover {
  opacity: 1;
}
.el-select .el-input.is-disabled .el-input__inner:hover{
  opacity: .6;
}
.el-select .el-input.is-focus .el-input__inner {
  opacity: 1;
  border-color: #42a996;
}
.el-select .el-input__inner:focus {
  border-color: #42a996;
}

.el-range-input {
  background-color: transparent;
  color: #fff !important;
}

.el-date-editor .el-range-separator {
  color: #dcdfe6 !important;
}

.el-select-dropdown.el-popper {
  border-radius: 0;
  /* background-color: #2a313a; */
  border: 0px !important;
  box-shadow: 0px 3px 10px 2px #000000 !important;
}
.el-select-dropdown.el-popper .popper__arrow {
  border-bottom-color: #2a313a !important;
}
.el-select-dropdown.el-popper .popper__arrow:after {
  top:0;
  border-bottom-color: #2a313a !important;
}
.el-select-dropdown__item {
  /* color: #fff !important; */    /*深色*/
  color: #333 !important;    /*浅色*/
  font-size: 12px;
  /* font-weight: lighter; */
  line-height: 40px;
  height: 40px;
}
.el-select-dropdown__item.selected {
  color: #fff;
  font-weight: normal;
  background: rgba(66,169,150,1) !important;
}
.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
  background: rgba(66,169,150,.4) ;
}

.el-select-dropdown__list {
  padding: 0 0;
}
.el-select-dropdown__list li {
  border-bottom: 1px solid black;
}

/*date-picker*/
.el-picker-panel {
  border-radius: 0px;
}

/*el-pagination
*/
.el-pagination button,
.el-pagination li {
  border-radius: 0px !important;
  background-color: #434a54 !important;
  color: rgba(255,255,255,.8) !important;
}
.el-pagination.is-background .el-pager li:hover {
  color: #fff !important;
}
.el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-prev.disabled {
  color: rgba(255,255,255,.3) !important;
}
.el-pagination li.active {
  background-color: #255554 !important;
  border: 1px solid #1bb99d;
  color:#1bb99d !important ;
}

/* 对button的复写 ----start-------by mayue*/
.el-button {
  font-size: 12px;
  border-radius: 0px;
  padding: 7px 15px;
  color: #fff;
  border: 1px solid #42a996;
  background-color: #42a996;
}
.el-button.is-disabled{
  opacity: 0.3;
}
.el-button:hover,.el-button:active,.el-button:focus{
  background: #5eb6a6;
  border: 1px solid #5eb6a6;
  color: #fff;
}

.el-button.is-plain{
  background: #3b424d;
  /* border: 1px solid #a9a9a9; */
  border: 1px solid #dcdfe6;
  color: #fff;
}
.el-button.is-plain:hover,.el-button.is-plain:active,.el-button.is-plain:focus{
  background: #585e68;
  border: 1px solid #afb2b6;
  color: #fff;
}
.hy-button-small-padding.el-button{
  padding: 7px 12px;
  font-size: 12px;
}
.el-button.el-button--mini{
  padding: 2px 2px;
}
.el-button.hy-transparent {
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  background-color: rgba(255,255,255,.2);
}

.el-button.hy-transparent:hover,.el-button.hy-transparent:active,.el-button.hy-transparent:focus{
  background-color: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.2);
}
/* 对button的复写 ----end-------by mayue*/
/* 对input的append slot复写 ----start-------by mayue*/
.el-input-group__append{
  border-radius: 0px;
  background-color: #575c62;
    color: #fdfeff;
    border-color: #959ca2;
}
/* 对input的append slot复写 ----end-------by mayue*/
/* 复写element ui蒙层颜色 */
.v-modal,.el-loading-mask{
  background-color: rgba(26,32,43, .9) !important;
  opacity: 1;
}
.el-loading-spinner .path{
  stroke:#3fa292;
}

/* .el-table thead tr, .el-table th{
  background: #2c333f;
}
.el-table thead{
  color: #acadb0;
}
.el-table th, .el-table tr{
  background: #434954;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #141c29;
} */
.el-table th, .el-table tr {
    background-color: #434954;
}

.el-table__body tr.hover-row>td{
  background-color: #72777F;
}
.el-table--enable-row-hover .el-table__body tr:hover>td{
  background-color: #72777F;
}
.el-table__footer .has-gutter tr:hover>td{
  background-color: #72777F;
}
.el-table thead tr, .el-table th {
    background: #2C333F;
}
.el-table thead tr th .cell{
    word-break: keep-all;
    overflow: auto;
}


.el-table thead{
  color: #acadb0;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #141c29;
}
.el-table {
  color: #fff;
}
.el-table--border::after, .el-table--group::after, .el-table::before{
  background: #141c29;
}
.el-table th.is-leaf{
  padding: 4px 0;
}

.hy-tab .el-tabs__item{
  height: 28px;
  line-height: 28px;
  background-color: #5e626a;
  color: #f9f9fa;
}
.hy-tab.el-tabs--card>.el-tabs__header{
  border-bottom: 0; 
}
.hy-tab.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border: 0px solid transparent;
}
.hy-tab.el-tabs--card>.el-tabs__header .el-tabs__item{
  border-bottom: 0px;
  border-left-color: #1b212c;
}
.hy-tab.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
  background-color: #48ac9a;
}
.hy-tab .el-tabs__nav-wrap.is-scrollable{
	    padding: 0 20px;
}
.hy-tab .el-tabs__nav-next, .el-tabs__nav-prev{
    line-height: 28px;
    font-size: 12px;
    color: #afb2b5;
    background-color: #2f353f;
}
.hy-tab .el-tabs__nav-next >i, .el-tabs__nav-prev>i{
  padding: 0 4px;
}
.el-input__inner:focus{
  border-color: #42a996;
}

/* 对input左右padding的复写 */
.hy-small-padding-input.el-input .el-input__inner{
  padding:0 4px;
  text-align: center;
}
.el-table--border{
  border: 1px solid #141c29;
}
.el-table--border td,.el-table--border th{
  border-right: 1px solid #141c29;
}
.el-table td.hy-small-table-cell-padding{
  padding: 3px 0;
}
.hy-mini-input input.el-input__inner{
  height: 18px;
  line-height: 18px;
  padding: 0 2px;
  text-align: center;
}
.hy-mini-input .el-input-group__append{
    padding: 0 4px;
    background-color: #515660;
    border-color: #84868a;
    line-height: inherit;
}
.el-table th div{
  /* display:initial; */
}
.el-table th div.el-input{
  /* line-height: initial; */
}
.el-table--border th.gutter:last-of-type{
  border-bottom: 1px solid #141c29;
}
.el-table th .hy-tabel-head{
  padding: 0px;
  display: flex;
  align-items: center;
}
.el-table th .hy-tabel-head div{
  display:inherit;
  overflow: initial;
  line-height: initial;
  text-overflow: initial;
}
.el-table th .hy-tabel-head .el-input-group{
  display: inline-table;
}
.el-table th .hy-tabel-head .el-input-group__append{
  display: table-cell;
}
.el-table th .hy-tabel-head .el-input{
  padding: 0;
}
.el-table thead.is-group th{
  background-color: #2c333f;
}
.el-table--border th {
    border-bottom: 1px solid #141c29;
}
.el-table__empty-block{
  min-height: 48px;
  max-height: 48px;
  background-color: #434A54;
}
.el-radio{
  color: #a9adb8;
}
.el-radio__inner{
  width: 12px;
  height: 12px;
}
.el-radio__input.is-checked .el-radio__inner{
  border-color: #2d9c96;
  background: #2d9c96;

}
.el-radio__input.is-checked+.el-radio__label{
  color: #2d9c96;
}
/* 弹窗样式的复写 */
.el-message-box{
  background-color: transparent;
  padding-bottom:0px;
  border-radius: 0px;
	border:0px;
	filter: drop-shadow(2px 2px 32px rgba(255, 255, 255, 0.8));

}
.el-message-box__btns{
  padding-bottom: 14px;
  background-color: #141C28;
}
.el-message-box__btns .el-button{
  background-color: #3b424d;
  border: 1px solid #a9a9a9;
}
.el-message-box__btns .el-button:hover,
.el-message-box__btns .el-button:active,
.el-message-box__btns .el-button:focus
{
  background: #585e68;
  border: 1px solid #afb2b6;
}
.el-message-box__btns .el-button--primary.el-button{
  background-color: #42a997;
  border: 1px solid #42a997;
}
.el-message-box__btns .el-button--primary.el-button:hover,
.el-message-box__btns .el-button--primary.el-button:active,
.el-message-box__btns .el-button--primary.el-button:focus{
  background-color: #5eb6a6;
  border: 1px solid #5eb6a6;
}

.el-message-box__headerbtn:hover .el-message-box__close{
  color: #42a996;
}


.el-message-box__content{
  border-top: 34px solid #141C28;
  background-color: #141C28;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fbfbfb;
}
.el-message-box__header{
  padding:0px;
}
.el-message-box__title{
	font-size:14px;
  padding: 10px 12px;
  color: #fbfbfb;
  background-color: #141C28;
  display: inline-block;
}
.el-message-box__headerbtn {
    top: 0px;
    right: -5px;
}
.el-message-box__headerbtn .el-message-box__close {
    color: #fff;
    font-size: 36px;
}
.el-message-box__status{
  font-size: 26px!important;
  left: 38px;
}
.el-message-box__status+.el-message-box__message{
  padding-left: 64px;
}
.el-pagination__sizes .el-input .el-input__inner:hover{
  border-color: #c0c4cc;
}
.el-message{
  box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.3);
}

.hy-input-with-title .el-input--prefix .el-input__inner{
  padding-left: 35px;
}


.el-picker-panel {
  color: #fff;
  border: none;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
  background: #2a313a;
  border-radius: 4px;
}
.el-date-table th {
  border-bottom: solid 1px #000;
}
.el-date-table td.end-date span, .el-date-table td.start-date span {
  background-color: rgba(66,169,150,1);
}
.el-date-table td.in-range div, .el-date-table td.in-range div:hover, .el-date-table.is-week-mode .el-date-table__row.current div, .el-date-table.is-week-mode .el-date-table__row:hover div {
  background-color: rgba(66,169,150,.3);
}
.el-date-table td.disabled div {
   background-color:transparent;
  color: #666;
}
.el-date-range-picker__content.is-left {
  border-right: 1px solid #000;
}
.el-range-editor.is-active, .el-range-editor.is-active:hover {
  border-color: rgba(66,169,150,1);;
}
.el-picker-panel [slot=sidebar], .el-picker-panel__sidebar {

  background-color: #2a313a;
  border-right: 1px solid #000;
}
.el-picker-panel__shortcut {
  font-size: 12px;
  color: #fff;
}
.el-picker-panel__shortcut:hover {
  font-size: 12px;
  color: rgba(66,169,150,1);
}
.el-date-table td.available:hover {
  color: rgba(66,169,150,1);
}
.el-date-table td.today span {
  color: rgba(66,169,150,1);
}
.el-table__footer-wrapper tbody td{
  background-color: #434954;
  color: #fff;
}
.el-table__footer-wrapper td{
  border-top: 1px solid #141C29;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #2a313a;
  top: -8px;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  top: 1px;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #2a313a;
}
.el-popper[x-placement^=top] .popper__arrow{
  border-top-color: #2a313a;
}
.el-popper[x-placement^=top] .popper__arrow::after{
  border-bottom-color: #2a313a;
  border-top-color: #2a313a;
  top: -6px;
}

.el-dropdown-menu {
  padding: 0 0px;
  /* background-color: #2a313a; */    /*深色*/
  background-color: #f9f9f9;   /*浅色*/
  border: 1px solid #2a313a;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
}
.el-dropdown-menu__item {
  line-height: 40px;
  padding: 0 30px;
  font-size: 12px;
  /* color: #fff; */
  color: #333;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
  background: rgba(66,169,150,1) ;
  color: #fff ;
}
.el-form-item__label{
  color: #979797;
}
.el-input-number__decrease, .el-input-number__increase{
  background-color: #5d626c;
  color: #dfe0e2;
}
.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled){
  border: 1px solid #5eb6a6;
}
.el-input-number__decrease,.el-input-number__increase{
  border-radius:0;
}
.el-input-number__decrease:hover, .el-input-number__increase:hover{
  color:#42a996;
}

.el-loading-spinner .el-loading-text{
  color:#42a996;
}
.el-checkbox__input.is-disabled .el-checkbox__inner,.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
  background-color: #9fbfbd;
    border-color: #82b9af;
}
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
    border-color: #539484;
}
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus{
  border-color: #fee01a;
}
/* .el-tree .el-checkbox__input .el-checkbox__inner:hover{
  border-color: #32bcb4;
} */
.el-tree .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #2d9c96;
    border-color: #2d9c96;
    
}
.el-tree .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner,
.el-tree .el-checkbox__input.is-disabled .el-checkbox__inner{
  background-color:#5c8482;
  border-color: #5c8482;
}
.el-breadcrumb__inner.is-link,.el-breadcrumb__item:last-child .el-breadcrumb__inner,.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
  color: #a7acb2;
}
.el-breadcrumb__inner.is-link:hover{
  color: #42a996;
}
.el-popover{
  border: 1px solid rgba(0,0,0,.2);
  padding:0px;
  background-color: #2C333E;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.6);
  /* overflow-y: auto; */
  max-height: 700px;
  color: #fff;
  font-weight: 500;
}
.el-popover .el-table--scrollable-x .el-table__body-wrapper{
  
}
.el-popover__title{
  color: #fff;
}

.el-date-picker__header-label:hover,
.el-month-table td .cell:hover,
.el-month-table td.current:not(.disabled) .cell{
  color: rgba(66,169,150,1);
}
.el-date-picker__header--bordered{
  border-bottom: solid 1px #000;
}
.el-date-picker__header-label,
.el-month-table td .cell{
  color: #fff;
}
.el-month-table td.disabled .cell{
  background-color: transparent;
  color: #666;
}
.el-month-table td.disabled .cell:hover{
  color: #666;
}

.el-checkbox__input.is-checked+.el-checkbox__label{
  color: #2d9c96;
}
.el-checkbox{
  color: #a9acb3;
}

/*输入框模糊匹配样式*/
.el-scrollbar{
  box-shadow: 0px 3px 10px 2px #000000 !important;
}
.el-autocomplete-suggestion__wrap{
  border-radius: 0;
  background-color: #2a313a;
  border: 0px !important;
}
.el-autocomplete-suggestion li {
  color: #fff;
  border-bottom: 1px solid black;
}
.el-autocomplete-suggestion li:hover {
  background: rgba(66,169,150,.4) ;
}

.score-card-fixed-table .el-table .el-table__fixed .el-table__fixed-body-wrapper {
  top: 68px !important;
}